body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  text-decoration: none;
  color: red;
}

.notActive{
  text-decoration: none;
  color: black;
}

/*Navbar Styles*/
.nav_bar{
  margin: 0%;
  display: flex;
  padding-left: 36px;
  padding-right: 60px;
  align-items: baseline;
  justify-content:space-between;
  background-color: rgb(255, 128, 0);
  position: sticky;
  top: 0;
}

#nav_brand{
  display: flex;
  align-items: center;
  border: solid black 2px;
  margin: 12px;
  border-radius: 25px;
  padding: 4px;
}

#nav_brand img{
  margin: 0%;
  width: 30px;
  height: 30px;
}

#nav_brand h4{
  padding: 5px;
  margin: 0%;
}

/*Footer Styles*/
footer{
  background-color: rgb(255, 128, 0);
  text-align: center;
  height: 80px;
  padding: 30px;
}

/*Card Styles*/
.cart_info{
  display: flex;
  text-decoration: none;
}

.cart_info, img{
  width: 30px;
  margin-right: 10px;
  font-weight: bolder;
}

header{
  width:100%;
  height: 280px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/public/pizzaHero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color:  rgb(255, 128, 0);
}
.tile{
  margin: 0px;
  padding: 30px 10px 10px 10px;
}

.subtitle{
  display: inline-block;
  padding: 0px 30px;
  border-bottom: solid 1.1px rgb(255, 128, 0);
}

.subtitle p{
  margin: 0;
}

.container{
  margin: 65PX;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px 65px;
}


.lista_pizza{
  text-align: center;
}

.tarjeta:hover{
  border-radius: 3%;
  display: inline-flex;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pizza_img{
  width: 100%;
  border-radius: 3% 3% 0% 0%;
  margin: 0;
}


.nombre{
  text-align: center;
}

.nombre h3{
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 0%;
}

.ingredientes{
  margin-left: 20PX;
  text-align: left;
}

.cuerpo{
  margin: 0%;
  padding: 0%;
  background-color: rgb(255, 128, 0);
  border-radius: 3%;
}

.bottom{
  text-align: center;
}

.button{
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    color: white;
}

.button:hover {
  background-color: #4caf98;
  color: black;
}
.botones{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 15px;
}


section{
  display: flexbox;
}


.card_container{
  display: flex;
  margin: 50px;
}

.img_detalle img{
  width: max-content;
}

.info_detalles{
  margin-left: 40px;
}

.name-detalles{
  margin-top: 0%;
}


/*Carrito Styles*/
.titulo_carrito{
  text-align: center;

}


.titulo_carrito:hover{
  text-align: center;
  color: rgb(255, 128, 0);
}

.subtitulo_carrito{
  display: inline;
  text-align: left;
  margin-left: 110px;
}

.lista_compra{
  text-align: center;
  padding: 0px 80px;
}

.detalle_compra{
  border-bottom: black solid 1px;
  display: flex;
  justify-content: space-around;
  padding: 30px
}

.detalle_compra img{
  width: 18%;
}

.botones_carrito{
  margin: 10px 80px;
  display: flex;
  justify-content: space-around;
}

/*NotFoundPage Styles*/
.not_found{
  text-align: center;
  padding: 35px;
}

.not_found img{
  width: 420px;
}

.not_found h2, h3{
  margin: 20px;
}