body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  text-decoration: none;
  color: red;
}

.notActive{
  text-decoration: none;
  color: black;
}

.nav_bar{
  margin: 0%;
  display: flex;
  padding-left: 36px;
  padding-right: 36px;
  align-items: baseline;
  justify-content:space-between;
  background-color: rgb(255, 128, 0);
}

#nav_brand{
  display: flex;
  align-items: center;
}

#nav_brand img{
  width: 30px;
  height: 30px;
}

footer{
  background-color: rgb(255, 128, 0);
  text-align: center;
  height: 80px;
  padding: 30px;
}

.cart_info{
  display: flex;
  text-decoration: none;
}

.cart_info, img{
  width: 30px;
  margin-right: 10px;
}

header{
  width:100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/public/pizzaHero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color:  rgb(255, 128, 0);
}
.tile{
  margin: 0px;
  padding: 30px 10px 10px 10px;
}

.subtitle{
  display: inline-block;
  padding: 0px 30px;
  border-bottom: solid 1.1px rgb(255, 128, 0);
}

.subtitle p{
  margin: 0;
}